{% extends 'djangotodolistapp/base.html' %}

{% block content %}
<div class="container">
<h2>
    <span>To Do Items</span>
    <a href="#" class="btn btn-info pull-right" role="button">Add New To Do Item</a>
</h2>
<table class="table table-striped" id="todo-list">
  <thead>
    <tr>
      <th id ='item_id'>ID</th>
      <th id ='item_name'>Name</th>
      <th id ='item_description'>Description</th>
      <th id ='item_created_at'>Created at</th>
    </tr>
  </thead>
  <tbody>
  {% for item in currentToDoItems %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.item_text|truncatechars:25 }}</td>
        <td>{{ item.description|truncatechars:50 }}</td>
        <td>{{ item.created_date }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<!-- Pagination-->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      {% if currentToDoItems.has_previous %}
          <a href="?page={{ currentToDoItems.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
      {% endif %}
    </li>
    {% for pageNumber in pageToDisplay %}
        <li><a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
    {% endfor %}
    <li>
      {% if currentToDoItems.has_next %}
          <a href="?page={{ currentToDoItems.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
      {% endif %}
    </li>
  </ul>
</nav>
</div>
{% endblock %}